    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .container {
        background-color: rgb(60, 60, 244);
        width: 100%;
        height: 100vh;
        /* padding: 10%; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .todo-app {
        justify-items: center;
        border-radius: 10px;
        width: 300px;
        /* height: 40vh; */
        background-color: #fff;
    }
    
    .todo-app h2 {
        font-size: 40px;
        color: orange;
    }
    
    .input {
        margin-top: 20px;
        /* display: flex */
    }
    
    #inpt {
        background-color: rgb(231, 231, 231);
        font-size: 18px;
        border-radius: 20px;
    }
    
    #btn {
        background-color: blueviolet;
        font-size: 18px;
        border-radius: 20px;
    }
    
    #checkbox {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 30px;
        /* margin-left: 6px; */
    }
    
    ul li {
        list-style: none;
        font-size: 17px;
        user-select: none;
        cursor: pointer;
        position: relative;
        padding: 1px 5px 10px 40px;
    }
    
    ul li::before {
        content: '';
        position: absolute;
        height: 25px;
        width: 25px;
        /* border-radius: 10%; */
        background-image: url(icons/oval.png);
        background-size: cover;
        background-position: center;
        left: 8px;
    }
    
    ul li:hover {
        background-color: #e6e1e1;
        border-radius: 20px;
    }
    
    ul li.check {
        color: #555;
        text-decoration: line-through;
    }
    
    ul li.check::before {
        background-image: url(icons/check.png);
        right: 20px;
    }
    
    ul li span {
        position: absolute;
        right: 0;
        bottom: 1.1px;
        /* top: 5px; */
        width: 40px;
        height: 40px;
        font-size: 22px;
        color: #555;
        line-height: 40px;
        text-align: center;
    }
    
    ul li span:hover {
        background-color: #c6bdbd;
        border-radius: 50px;
    }